* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------TOPO-----------*/

header {
    padding: 0 10%;
    width: 100%;
    max-width: 1920px;
    height: 22vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 150px;
}

header div{
    width: 340px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.botao1,.botao2{
    background-color: white;
    color:rgb(21, 105, 71);
    width: 150px;
    font-weight: bolder;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
    border-radius: 30px;
}

.botao1:hover,.botao2:hover{
    transition: 350ms;
    background-color: rgb(21, 105, 71);
    color: white;
}

.botao1 {
    border: none;
}

.botao2 {
    border: 2px solid rgb(21, 105, 71);
}

/*--------MENU SERVIÇOS--------*/

.menu {
    max-width: 1920px;
    width: 80%;
    height: 22vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid rgba(22, 110, 75, .3);
    border-bottom: 1px solid rgb(21, 105, 71, .3);
}

.menu img {
    border-style: none;
    width: 80px;
    transition: 300ms;
}

.menu img:hover {
    width: 100px;
}

/*---TÍTULO E BARRA DE BUSCA---*/

.titulo {
    color: rgb(21, 105, 71);
    padding: 30px 0;
    width: 80%;
    height: 35vh;
}

.titulo h1{
    margin-bottom: 20px;
    width: 50%;
}

.titulo p {
    font-size: 1.3rem;
}

.busca {
    background-color: rgb(21, 105, 71);
    padding: 0 2%;
    width: 80%;
    height: 7vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.busca img {
    width: 25px;
    margin-right: 10px;
}

.busca button {
    background-color: rgb(21, 105, 71);
    color: white;
    font-weight: bolder;
    font-size: 16px;
    border: none;
	cursor: pointer;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input {
    background-color: rgb(21, 105, 71);
    width: 300px;
    border: none;
}

::placeholder {
    color: white;
    font-size: 16px;
    font-weight: bolder;
}

text:focus, input:focus, select:focus {
    color: white;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/*-------Lisat Geral--------*/

.listaGeral {
    background-color:rgb(21, 105, 71, .2);
    margin-top: 15vh;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tituloLista {
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.categoria {
    margin-top: 40px;
    color:green;
    padding: 25px;
    width: 100%;
}

.card {
    background-color: azure;
    margin-bottom: 70px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 200ms;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card img {
    width: 100%;
}

.card a {
    color: black;
    text-decoration: none;
}

.card a:hover {
    color:rgb(21, 105, 71);
}

