* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------TOPO-----------*/

header div{
    width: 340px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.botao1,.botao2{
    background-color: white;
    color:rgb(21, 105, 71);
    width: 150px;
    height: 60px;
    font-weight: bolder;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
    border-radius: 30px;
}

.botao1:hover,.botao2:hover{
    transition: 350ms;
    background-color: rgb(21, 105, 71);
    color: white;
}

.botao1 {
    border: none;
}

.botao2 {
    border: 2px solid rgb(21, 105, 71);
}

/*---TÍTULO E BARRA DE BUSCA---*/

.titulo {
    color: rgb(21, 105, 71);
    padding: 30px 0;
    width: 80%;
    height: 35vh;
}
.titulo2 {
    color: rgb(21, 105, 71);
    padding: 20px 0;
    width: 80%;
    height: 20vh;
    text-align:center;
}
.titulo h1{
    margin-bottom: 15px;
    width: 50%;
    font-size: 2rem;
}

.titulo p {
    font-size: 1.2rem;
}

.busca {
    background-color: rgb(21, 105, 71);
    padding: 0 2%;
    width: 80%;
    height: 7vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.busca img {
    width: 25px;
    margin-right: 10px;
}

.busca button {
    background-color: rgb(21, 105, 71);
    color: white;
    font-weight: bolder;
    font-size: 16px;
    border: none;
	cursor: pointer;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input {
    background-color: rgb(21, 105, 71);
    width: 255px;
    border: none;
}

::placeholder {
    color: white;
    font-size: 16px;
    font-weight: bolder;
}

text:focus, input:focus, select:focus {
    color: white;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/*-------Lista Geral--------*/

.listaGeral {
    background-color:rgb(21, 105, 71, .2);
    margin-top: 15vh;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tituloLista {
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.categoria {
    margin-top: 40px;
    color:green;
    padding: 25px;
    width: 100%;
}

.card, .card-detalhe {
    background-color: azure;
    margin-bottom: 70px;
    width: 320px;
    height: 38vh;
    border-radius: 10px;
    transition: 200ms;
}

.card:hover, .card-detalhe:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card img {
    width: 100%;
    height: 85%;
}

.card a, .card-detalhe {
    height: 100%;
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    transition: 200ms;
}

.card a:hover {
    color:rgb(21, 105, 71);
}

.card-detalhe {
    width: 500px;
    margin-top: 20vh;
    margin-bottom: 10px;
    row-gap: 10px;
}



@media (max-width: 600px) {
	.titulo {
		display: flex;
        justify-content: space-between;
        column-gap: 50px;
	}
    .botao1, .botao2 {
        width: 110px;
    }
    header div {
        justify-content: end;
        column-gap: 5px;
    }
    .menu a img{
        width: 40px;
        height: 40px;
    }
    .menu a img:hover {
        width: 60px;
        height: 60px;
    }
}

/*CABEÇA DA PÁGINA------------------------------------------------------------------*/

header{
    background-color:#F0FFFF;
    width: 100%;
	position: fixed;
	top:0;
    padding: 0 10%;
    max-width: 1920px;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 150px;
}

/*-----menu serviços-------*/

.menu {
    color:rgb(21, 105, 71);
    margin-top: 15vh;
    max-width: 1920px;
    width: 80%;
    height: 22vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid rgb(21, 105, 71, .5);
    border-bottom: 1px solid rgb(21, 105, 71, .5);
}

.menu img {
    width: 50px;
    height: 50px;
    transition: 300ms;
}

.menu img:hover {
    width: 80px;
    height: 80px;
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: rgb(21, 105, 71);
    text-decoration: none;
}

.menu h3 {
    margin-top: 4px;
}

/*CONTEÚDO DA PÁGINA----------------------------------------------------------------*/
main{
    height: 100%;
	margin-top:10vh;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contato{ /*caixa do cadastro*/
    width: 55vh;
    height: 70vh;
    padding: 2%;
    background-color:#B6E5E5;
    border: 3px solid #80eeee;
    border-radius: 2%;
    box-shadow: 0 0 30px #4c9797;
    
}
#contato h1{
    color:#008B8B;
    text-align: justify;
    margin-bottom: 2rem;
    text-shadow: 0px 0px 30px #498080;
}
#primeiro{
    width: 100%;
    height: 80%;
    color:#008B8B;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.cordefundo{ /* cor dentro dos campos de espaço*/
    background-color:#F4F4E7;
    width: 50vh;
    height: 4vh;
    color: #000000;

}
#contato fieldset{ /* parte do genero*/
    border: none;
}
.spaco{
    margin-bottom: 0.8rem;
    
}

/*RODAPÉ DA PÁGINA-------------------------------------------------------------------*/
footer {
    display: flex;
    flex-flow: row wrap;
    padding: 10px 30px 30px 230px;
    color: #2f2f2f;
    background-color: rgb(21, 105, 71);
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    color: #999;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color:rgb(21, 105, 71);
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }
