* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------TOPO-----------*/

header div{
    width: 340px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.botao1,.botao2{
    background-color: white;
    color:rgb(21, 105, 71);
    width: 150px;
    font-weight: bolder;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
    border-radius: 30px;
}

.botao1:hover,.botao2:hover{
    transition: 350ms;
    background-color: rgb(21, 105, 71);
    color: white;
}

.botao1 {
    border: none;
}

.botao2 {
    border: 2px solid rgb(21, 105, 71);
}

/*---TÍTULO E BARRA DE BUSCA---*/

.titulo {
    color: rgb(21, 105, 71);
    padding: 30px 0;
    width: 80%;
    height: 35vh;
}

.titulo h1{
    margin-bottom: 15px;
    width: 50%;
    font-size: 2rem;
}

.titulo p {
    font-size: 1.2rem;
}

.busca {
    background-color: rgb(21, 105, 71);
    padding: 0 2%;
    width: 80%;
    height: 7vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.busca img {
    width: 25px;
    margin-right: 10px;
}

.busca button {
    background-color: rgb(21, 105, 71);
    color: white;
    font-weight: bolder;
    font-size: 16px;
    border: none;
	cursor: pointer;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input {
    background-color: rgb(21, 105, 71);
    width: 255px;
    border: none;
}

::placeholder {
    color: white;
    font-size: 16px;
    font-weight: bolder;
}

text:focus, input:focus, select:focus {
    color: white;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/*-------Lisat Geral--------*/

.listaGeral {
    background-color:rgb(21, 105, 71, .2);
    margin-top: 15vh;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tituloLista {
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.categoria {
    margin-top: 40px;
    color:green;
    padding: 25px;
    width: 100%;
}

.card, .card-detalhe {
    background-color: azure;
    margin-bottom: 70px;
    width: 320px;
    height: 38vh;
    border-radius: 10px;
    transition: 200ms;
}

.card:hover, .card-detalhe:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card img {
    width: 100%;
    height: 85%;
}

.card a, .card-detalhe {
    height: 100%;
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    transition: 200ms;
}

.card a:hover {
    color:rgb(21, 105, 71);
}

.card-detalhe {
    width: 450px;
    margin-top: 20vh;
    margin-bottom: 10px;
}



@media (max-width: 760px) {
	.titulo {
		display: flex;
        justify-content: space-between;
        column-gap: 50px;
	}
}

/*CABEÇA DA PÁGINA------------------------------------------------------------------*/

header{
    background-color:#F0FFFF;
    width: 100%;
	position: fixed;
	top:0;
    padding: 0 10%;
    max-width: 1920px;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 150px;
}

/*-----menu serviços-------*/

.menu {
    color:rgb(21, 105, 71);
    margin-top: 15vh;
    max-width: 1920px;
    width: 80%;
    height: 22vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid rgb(21, 105, 71);
    border-bottom: 1px solid rgb(21, 105, 71);
}

.menu img {
    width: 50px;
    height: 50px;
    transition: 300ms;
}

.menu img:hover {
    width: 80px;
    height: 80px;
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: rgb(21, 105, 71);
    text-decoration: none;
}

.menu h3 {
    margin-top: 4px;
}

/*CONTEÚDO DA PÁGINA----------------------------------------------------------------*/
main{
    height: 100%;
	margin-top:10vh;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contato{ /*caixa do cadastro*/
    width: 55vh;
    height: 70vh;
    padding: 2%;
    background-color:#B6E5E5;
    border: 3px solid #80eeee;
    border-radius: 2%;
    box-shadow: 0 0 30px #4c9797;
    
}
#contato h1{
    color:#008B8B;
    text-align: justify;
    margin-bottom: 2rem;
    text-shadow: 0px 0px 30px #498080;
}
#primeiro{
    width: 100%;
    height: 80%;
    color:#008B8B;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.cordefundo{ /* cor dentro dos campos de espaço*/
    background-color:#F4F4E7;
    width: 50vh;
    height: 4vh;
    color: #000000;

}
#contato fieldset{ /* parte do genero*/
    border: none;
}
.spaco{
    margin-bottom: 0.8rem;
    
}

/*RODAPÉ DA PÁGINA-------------------------------------------------------------------*/
footer{
    background-color: #4c9797;
    height: 50vh;
}

